{
  "presets": [
    ["env"]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "add-module-exports",
    "transform-decorators-legacy"
  ],
  "retainLines": true,
  "sourceMaps": "both"
}